USE [master]
GO
/****** Object:  Database [Compras]    Script Date: 23/11/2020 5:18:44 ******/
CREATE DATABASE [Compras]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Compras', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Compras.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Compras_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Compras_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Compras].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Compras]
GO
/****** Object:  Table [dbo].[TablaCompras]    Script Date: 23/11/2020 5:18:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TablaCompras](
	[ID] [int] IDENTITY(1000,7) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[DNI] [int] NOT NULL,
	[Datos] [varchar](100) NOT NULL,
 CONSTRAINT [PK_TablaCompras] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TablaCompras] ON 

INSERT [dbo].[TablaCompras] ([ID], [Nombre], [DNI], [Datos]) VALUES (1000, N'Ailen', 1234, N'Anochecer $1000
IT $1500
')
INSERT [dbo].[TablaCompras] ([ID], [Nombre], [DNI], [Datos]) VALUES (1007, N'Nombre', 1, N'Horizon $3550
IT $1500
')
INSERT [dbo].[TablaCompras] ([ID], [Nombre], [DNI], [Datos]) VALUES (1014, N'Nombre', 0, N'Anochecer $1000
')
SET IDENTITY_INSERT [dbo].[TablaCompras] OFF
GO
USE [master]
GO
